*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: #ebebeb;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: #BB1F35;
}

a:hover{
    text-decoration: underline;
}

.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: auto;
}

.izquierda{
    float: left;
}

.derecha{
    float: right;
}

header{
    color: #fff;
    margin-bottom: 30px;
    background: #BB1F35;
}

header .contenedor{
    overflow: hidden;
}

header .logo{
    max-width: 300px;
}

header .logo a{
    color: #fff;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 28px;
    line-height: 70px;
}

header .logo a:hover{
    text-decoration: none;
}

header .buscar{
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

header .buscar input[type="text"]{
    background: none;
    border: 1px solid rgba(255,255,255,.7);
    color: rgba(255,255,255,.7);
    height: 30px;
    padding: 0 10px;
    padding-right: 32px;
}

header .buscar input[type="text"]:hover,
header .buscar input[type="text"]:focus{
    color: #fff;
    border: 1px solid #fff;
}

header .buscar .icono{
    color: rgba(255,255,255,.7);
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    font-size: 16px;
    line-height: 16px;
}

header .buscar .icono:hover{
    color: #fff;
}

header .menu{
    display: inline-block;
}

header .menu ul{
    list-style: none;
}

header .menu ul li{
    display: inline-block;
    line-height: 70px;
}

header .menu ul li a{
    color: #fff;
    display: block;
    padding: 0 20px;
    font-weight: bold;
}

header .menu ul li a:hover{
    background: #000;
    text-decoration: none;
}

header .menu ul li a .icono{
    margin-left: 15px;
}

.post{
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    margin-bottom: 30px;
    padding: 30px;
}

.post article .titulo{
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 10px;
}

.post article .titulo a{
    color: #000;
}

.post article .fecha{
    color: #747474;
    font-size: 14px;
    margin-bottom: 20px;
}

.post article .thumb{
    margin-bottom: 20px;
}

.post article .thumb img{
    vertical-align: top;
    width: 100%;
}

.post article .extracto{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.post article .continuar{
    color: #BB1F35;
    font-weight: bold;
}

.btn{
    padding: 15px;
    display: inline-block;
    margin: 15px 0;
    background: #595959;
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif, helvetica;
    border-radius: 2px;
    border: none;
}

.btn:hover{
    text-decoration: none;
    background: #BB1F35;
}

footer{
    background: #BB1F35;
    color: #fff;
}

footer .copyright{
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
}

.paginacion{
    margin-bottom: 30px;
}

.paginacion ul{
    list-style: none;
    text-align: center;
}

.paginacion ul li{
    display: inline-block;
    margin: 0 5px;
    color: #fff;
}

.paginacion ul li a{
    display: block;
    padding: 10px 20px;
    background: #595959;
    color: #fff;
}

.paginacion ul li a:hover{
    background: #BB1F35;
    text-decoration: none;
}

.paginacion ul .active{
    background: #BB1F35;
    padding: 10px 20px;
}

.paginacion ul .disable{
    background: #A8A8A8;
    padding: 10px 20px;
    cursor: not-allowed;
}

.paginacion ul .disable:hover{
    background: #A8A8A8;
}

.formulario{
    width: 100%;
    overflow: hidden;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="password"],
.formulario textarea{
    border: 1px solid #A8A8A8;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-family: Arial, sans-serif, helvetica;
    font-size: 1em;
    color: #141938;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario input[type="password"]:focus,
.formulario textarea:focus{
    border: 2px solid #595959;
    padding: 15px;
}

.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;
}

.formulario input[type="submit"]{
    padding: 15px;
    background: #595959;
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif, helvetica;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}

.formulario input[type="submit"]:hover{
    background: #BB1F35;
}